body {
	background-color: rgb(255, 255, 255);
}

a {
	color:rgb(0, 0, 0);
}

img {
	max-width: 100%;
}

.nav {
	font-family: 'Impact';
	font-size: 2vw;
	border: solid black 2px;
	position: fixed;
	text-align: center;
	width: 100%;
	background-color: white;
}
	
h1 {
	font-family: 'Impact';
	font-size: 10vw;
	line-height: 7vw;
	text-align: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding: 8vh;
	-webkit-text-stroke-width: 0.2vw;
	-webkit-text-stroke-color: rgb(0, 255, 13);

}
.fun {
	font-family: 'Times New Roman';
}
.thicc {
	font-family: 'Impact';
	color: rgb(9, 255, 0);
	-webkit-text-stroke-width: 0.2vw;
	-webkit-text-stroke-color: rgb(0, 0, 0);
}

button {
	text-align: center;
	margin: 4vh;
	padding: 0.5vh;
	font-family: 'Overpass Mono', sans-serif;
	font-size: 2vw;
	background-color: rgb(255, 89, 255);
	
}
button:hover {
	background-color: rgb(9, 34, 255);
}

h3 {
	font-family: 'Overpass Mono', sans-serif;
	font-size: 1.3vw;
	line-height: 1.5vw;
	
}

.intro {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.patrik {
	width: 33.333%;
}

.bubble {
	width:66.666%;
	padding: 3vw;
	border-radius: 80px;
	background-color: black;
	color: white;
}

.section-one {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.first-text {
	font-family: 'Comic Neue', cursive;
	font-size: 1.3vw;
	width: 66.3333%;
	text-indent: 2vh;
	padding: 5vh;
	line-height: 1.5vw;
	height: 100vh;
	overflow: scroll;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	
}

.sidebar {
	width: 33.333%;
	height: 100vh;
	background-color: rgb(200, 255, 0);
	overflow: scroll;
	padding-top: 20px;
  }

.sidebar img {
	padding: 80px;
}

h4 {
	font-family: 'Overpass Mono', sans-serif;
	font-weight: 300;
	font-size: 2.5vw;
	margin-top: 3vh;
	margin-left: 5vh;
	margin-right: 5vh;
}
footer {
	font-family: 'Arial', sans-serif;
	font-size: 1vw;
	margin-left: 5vh;

}

.second-text {
	font-family: 'Comic Neue', cursive;
	font-weight: 400;
	font-size: 1.3vw;
	line-height: 1.5vw;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-top: 3vh;
	text-indent: 2vh;
	columns: 2;
	padding: 3vh;

}

.simply-meme {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
	background-color: black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 80px;
}

.content {
	width: 66.3333%;
	font-family: 'Impact', sans-serif;
	font-size: 5vw;
	color: rgb(255, 255, 255);
	padding: 2vh;
	text-align: center;
}

.photo {
	width: 33.333%;
}

.third-text {
	font-family: 'Comic Neue', cursive;
	font-weight: 400;
	font-size: 1.3vw;
	text-indent: 2vh;
	line-height: 1.5vw;
	padding: 10vh;

}

.useless {
	font-family: 'Comic Neue', cursive;
	font-size: 6vw;
	background-color: rgb(255, 1, 1);
	width: 40%;
	margin-top: 5vh;
	padding: 2vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 80px;

}

.madbro {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.phototwo {
	width: 40.3333%;
}

.contenttwo {
	width: 50.333%;
	font-family: 'Impact', sans-serif;
	font-size: 3vw;
	color: rgb(99, 57, 27);
	border: 3px dashed rgb(44, 44, 44);
	border-radius: 40px;
	padding: 2vh;
	text-align: center;
}

.fourth-text {
	font-family: 'Comic Neue', cursive;
	font-weight: 400;
	font-size: 1.3vw;
	text-indent: 2vh;
	padding: 7vh;
	columns: 2;

}
.pepper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 4vh;
	padding: 4vh;
}

.pepper img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
h6 {
	font-family: 'Overpass Mono', sans-serif;
	font-weight: 300;
	font-size: 2.5vw;

}
.fifth-text {
	font-family: 'Comic Neue', cursive;
	font-weight: 400;
	font-size: 1.3vw;
	text-indent: 2vh;
	padding: 7vh;
	columns: 2;

}

