body {
	background-color: rgb(255, 255, 255);
}

a {
	color:red;
}

img {
	max-width: 100%;
}
	
h1 {
	font-family: 'Impact';
	font-size: 10vw;
	line-height: 7vw;
	text-align: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding: 8vh;
	-webkit-text-stroke-width: 0.2vw;
	-webkit-text-stroke-color: rgb(0, 255, 13);

}
.fun {
	font-family: 'Times New Roman';
}
.thicc {
	font-family: 'Impact';
	color: rgb(9, 255, 0);
	-webkit-text-stroke-width: 0.2vw;
	-webkit-text-stroke-color: rgb(0, 0, 0);
}

button {
	text-align: center;
	margin: 1vh;
	padding: 0.5vh;
	font-family: 'Overpass Mono', sans-serif;
	font-size: 2vw;
	background-color: rgb(255, 89, 255);
	
}
button:hover {
	background-color: rgb(9, 34, 255);
}

h3 {
	font-family: 'Overpass Mono', sans-serif;
	font-size: 1.3vw;
	line-height: 1.3vw;
	
}

.intro {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.patrik {
	width: 33.333%;
}

.bubble {
	border:3px dashed black;
	width:66.666%;
	padding: 3vw;
	border-radius: 80px;
}

.section-one {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.first-text {
	font-family: 'Comic Neue', cursive;
	font-size: 1.3vw;
	width: 66.3333%;
	text-indent: 2vh;
	padding: 5vh;
	line-height: 1.5vw;
	height: 100vh;
	overflow: scroll;
	
}

.sidebar {
	width: 33.333%;
	height: 100vh;
	background-color: rgb(200, 255, 0);
	overflow: scroll;
	padding-top: 20px;
  }

h4 {
	font-family: 'Overpass Mono', sans-serif;
	font-weight: 300;
	font-size: 2.5vw;
	margin-top: 3vh;
	margin-left: 5vh;
	margin-right: 5vh;
}
footer {
	font-family: 'Arial', sans-serif;
	font-size: 1vw;
	margin-left: 5vh;

}

.second-text {
	font-family: 'Comic Neue', cursive;
	font-weight: 400;
	font-size: 1.3vw;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-top: 3vh;
	text-indent: 2vh;
	columns: 2;
	padding: 3vh;
}
